<style>
html { background-color: black; color: white; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#bottom { position: fixed; bottom: 0; width: 100%; right: 0; height: 10%; margin: 0; }
#save { font-size: xx-large; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 4% 0 4%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
select { width: 60%; }
input { }
.fr {float: right; }
#ready { }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>

<form action='/' method='post' style='height: 100vh; width: 100vw;'>
  <p><input type='text' id='name' name='config[name]' value='<%= @me.attr['name'] %>' placeholder='name'></p>
  <p><input type='text' id='tagline' name='config[tagline]' value='<%= @me.attr['tagline'] %>' placeholder='tagline'></p>
  <p><input type='text' id='img' name='config[img]' value='<%= @me.attr['img'] %>' placeholder='img'></p>
  <p><input type='text' id='social' name='config[social]' value='<%= @me.attr['social'] %>' placeholder='social'></p>

  <% if @me.attr['type'] != 's' %>
  <p><select id='zone' name='config[zone]'>
      <% @me.zones.members.each do |e| %>
      <option value='<%= e %>'><%= e %></option>
      <% end %>
  </select></p>
  <% end %>

  <% if @me.attr['type'] == 'u' %>
  <p><select id='shield' name='config[shield]'>
      <option selected disabled>area</option>
      <option value='green'>road</option>
      <option value='yellow'>tour</option>
      <option value='blue'>garage</option>
      <option value='purple'>media</option>
      <option value='red'>office</option>
  </select></p>
  <% elsif @me.attr['type'] == 's' %>
  <p><select id='shield' name='config[shield]'>
      <option selected disabled>area</option>
      <option value='yellow'>front of house</option>
      <option value='blue'>back of house</option>
      <option value='purple'>operations</option>
      <option value='red'>security</option>
  </select></p>
  <% elsif @me.attr['type'] == 'z' %>
  <p><input type='text' id='special' name='config[special]' value='<%= @me.attr['special'] %>' placeholder='special'></p>
  <p><select id='shield' name='config[shield]'>
      <option selected disabled>focus</option>
      <option value='nightlife'>nightlife</option>
      <option value='food'>food</option>
      <option value='art'>art</option>
      <option value='music'>music</option>
      <option value='directions'>directions</option>
      <option value='party'>party</option>
      <option value='camera'>camera</option>
  </select></p>
  <% elsif @me.attr['type'] == 'i' %>
  <p><select id='shield' name='config[shield]'>
      <option selected disabled>role</option>
      <option value='orange'>main</option>
      <option value='green'>support</option>
      <option value='purple'>background</option>
  </select></p>
  <% end %>
  
  <input type='hidden' id='tok' name='tok' value='<%= params[:tok] %>'>
  <input type='hidden' id='goto' name='goto' value='https://<%= ENV['DOMAIN'] %>/comms/user?tok=<%= params[:tok] %>'>
  <input type='hidden' name='method' value='save'>
  <h1 id='bottom'>
    <button id='save' class='material-icons input'>save</button>
  </h1>
  
</form>
<script>
  $(function() {
  $('#shield').val('<%= @me.attr['shield'] %>');
});
</script>
