<style>
html { background-color: black; color: white; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#bottom { position: fixed; bottom: 0; width: 100%; right: 0; height: 10%; margin: 0; }
#save { font-size: xx-large; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 4% 0 4%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
label { margin-right: 5%; }
input { margin-left: 5%; }
.fr {float: right; }
#ready { }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>

<form action='/' method='post' style='height: 100vh; width: 100vw;'>
<p><input type='text' id='name' name='name' value='<%= @me.attr['name'] %>' placeholder='name'></p>
<p><input type='text' id='tagline' name='tagline' value='<%= @me.attr['tagline'] %>' placeholder='tagline'></p>
<p><label for='img'>img</label><input type='text' id='img' name='img' value='<%= @me.attr['img'] %>' placeholder='img'></p>
<p><input type='text' id='social' name='social' value='<%= @me.attr['social'] %>' placeholder='social'></p>
<p><select name='shield'>
	<option selected disabled>area</option>
	<option value='green'>road</option>
	<option value='yellow'>tour</option>
	<option value='blue'>garage</option>
	<option value='purple'>media</option>
	<option value='red'>office</option>
</select></p>
<p><select name='border'>
        <option selected disabled>position</option>	
	<option value='red'>junior</option>
	<option value='green'>average</option>
	<option value='blue'>senior</option>
	<option value='silver'>manager</option>
	<option value='gold'>owner</option>
</select></p>

<input type='hidden' id='tok' name='tok' value='<%= params[:tok] %>'>
<input type='hidden' name='method' value='save'>
<h1 id='bottom'>
  <button id='save' class='material-icons input'>save</button>
  <span>SAVE</span>
</h1>

</form>
