<style>
html { background-color: black; color: white; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#bottom { position: fixed; bottom: 0; width: 100%; right: 0; height: 10%; margin: 0; }
#save { font-size: xx-large; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 4% 0 4%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
select { width: 60%; }
input { }
.fr {float: right; }
#ready { }
#lvl { width: 15%; }
#wrap {}
#qrcode { padding: 2%; background-color: white; }
#logo { }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>
<form action='/' method='post' style='height: 100vh; width: 100vw;'>
    <% if !params.has_key? :usr %>
    <% if @here.cloud.boss?(@me.id) > 1 %>
<p><select id='type' name='invite[type]' hidden>
    <option value='none' selected disabled>type</option>   
    <option value='rider'>rider</option>
    <option value='staff'>staff</option>
    <option value='influencer'>influencer</option>
    <option value='sponsor'>sponsor</option>
  </select></p>
  <p><select id='area' name='invite[area]'>
    <option value='none' selected disabled>area</option>
    <% @here.cloud.zones.members.each do |e| %>
    <option value='<%= e %>'><%= e %></option>
    <% end %>
    </select></p>
    <% else %>
    <p><select id='type' name='invite[type]'>
    <option value='none' selected disabled>type</option>
    <option value='staff'>staff</option>
    <option value='influencer'>influencer</option>
      </select></p>
    <% end %>
    <% elsif @here.cloud.boss?(@me.id) > 0 %>
    <p><select id='type' name='invite[type]'>
	<option value='rider' selected>rider</option>
	<option value='influencer'>influencer</option>
	<option value='staff'>staff</option>
    </select></p>
    <% end %>
    <fieldset>
    <legend>invite</legend>
<div id='wrap'>
  <div id='qrcode'>
    </div>
    </fieldset>
    <img id='logo' src='/logo.img'>
</form>
<script>
    $(function() {
	    <% if params.has_key? :usr %>
	$('#qrcode').qrcode("https://<%= ENV['DOMAIN'] %>/comms/welcome?mode=" + $('#type').val() + "&sponsor=<%= @me.attr['uid'] %>&usr=<%= params[:usr] %>&zone=<%= @me.attr['zone'] %>&hire=true");
	    <% else %>
	    <% if @me.id == ENV['PHONE_ADMIN'] %>
	$(document).on('change', 'select', function() {
	    if ( $("#type").val() != null ) {
		$('#area').show();
		$('#type').hide();
	    } else {
		$('#area').hide();
		$('#type').show();
	    }
	});
	$(document).on('change', 'select', function() {
	    if ( $("#area").val() != null && $("#type").val() != null ) {
		$('#qrcode').html('');
		$('#qrcode').qrcode("https://<%= ENV['DOMAIN'] %>/comms/welcome?mode=" + $('#type').val() + "&sponsor=<%= @me.attr['uid'] %>&zone=" + $('#area').val());
	    }
	});
	$('#type').val('none');
	$('#area').val('none');
	    <% else %>
	    
	<% end %>
	<% end %>
    });
      </script>
