<style>
html { background-color: black; color: white; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#bottom { position: fixed; bottom: 0; width: 100%; right: 0; height: 10%; margin: 0; }
#save { font-size: xx-large; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 4% 0 4%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
select { width: 60%; }
input { }
.fr {float: right; }
#ready { }
#lvl { width: 15%; }
#fields > p { }
#border { width: 30% }
#type { width: 30% }
.badge { display: block; text-align: left; }
.ic { border: thick solid grey; border-radius: 10px; }
.tickbox { float: right; }
.badge > * { display: inline; }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>
<% if params.has_key?(:usr); @usr = @here.cloud.user(Redis::HashKey.new('uid')[params[:usr]]); else @usr = @here.cloud.user(@me); end %>
<% @b = @here.badge(@usr) %>
<form action='/' method='post' style='height: 100vh; width: 100vw;'>
    <h3><%= @usr.attr['uid'] %></h3>
    <input type='hidden' name='usr' value='<%= @usr.attr['uid'] %>'>
<div id='fields'>
<p>
<% if @here.cloud.boss?(@me) > 1 %>
<select id='border' name='magic[border]'>	
	<option value='red'>new</option>
	<option value='green' selected>general</option>
	<option value='blue'>manager</option>
	<option value='silver'>legend</option>
	<option value='gold'>god</option>
</select>
<select id='type' name='magic[type]'>
	<% if params[:boss].to_i > 1 %>
    <option value='u'>rider</option>
    <option value='z'>sponsor</option>
    <% end %>
    <option value='i' selected>influencer</option>
    <option value='s'>staff</option>
  </select>
  <% end %>
  <% if @here.cloud.boss?(@me) > 0 %>
<input type='number' id='lvl' name='magic[lvl]' value='<%= @usr.attr['lvl'] %>'>
<% end %>
</p>
<% end %>
<%= @b.badges %>
</div>
<input type='hidden' id='tok' name='tok' value='<%= params[:tok] %>'>
<input type='hidden' id='goto' name='goto' value='https://<%= ENV['DOMAIN'] %>/comms/user?tok=<%= params[:tok] %>'>
<input type='hidden' name='method' value='save'>
<h1 id='bottom'>
  <button id='save' class='material-icons input'>save</button>
</h1>

</form>
<script>
  $(function() {
  $("#border").val('<%= @usr.attr['border'] %>');
  $("#type").val('<%= @usr.attr['type'] %>');
  });
</script>
