<style>
html { background-color: white; color: black; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#ui { width: 100%; margin: 0; z-index: 10; }
#output { text-align: left; line-break: anywhere; overflow-y: scroll; height: 50%; border: thin solid black; }
#ui > * { vertical-align: middle; font-size: xx-large; width: 10%; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 1% 0 1%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
.l { left: 0; }
.r { right: 0; }
.fr {float: right; }
#ready { }
#canvas { height: 40%; width: 96%; border: thin solid black; }
#foot { width: 100%; margin: 0; position: fixed; bottom: 0; }
#foot > * { position: fixed; bottom: 0; }
#plug { background-color: green; text-decoration: none; border-radius: 76% 76% 0 0; padding: 0 3% 0 3%; margin: 0 3% 0 3%; }
#nomad { color: brown; }
#copy { color: white; font-size: xx-small; }
#rank { left: 0; }
#lvl { right: 0; }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>

<form style='height: 100vh; width: 100vw;'>
    <input type='hidden' id='tok' name='tok' value='<%= params[:tok] %>'>
    <canvas id="canvas"></canvas>
<h1 id='ui'>
<% if @here.cloud.admin?(@me.id) || @here.cloud.boss?(@me.id)  %>
    <a id='zap' href='/comms/magic?tok=<%= params[:tok] %>' class='material-icons input'>auto_fix_high</a>
    <a id='rsvp' href='/comms/invite?tok=<%= params[:tok] %>' class='material-icons input'>mail</a>
<% end %>
    <a href='/comms/config?tok=<%= params[:tok] %>' class='material-icons input'>settings</a>
    <a href='/q/rcode?uid=<%= @me.attr['uid'] %>' class='material-icons input'>badge</a>
</h1>
    <div id='output'>
    <% if @me.attr.has_key?('name') && @me.attr['name'] != '' %>
    <h4>hello, <%= @me.attr['name'] %></h4>
    <% else %>
    <h4>welcome, <%= @me.attr['uid'] %></h4>
    <% end %>
    <h5>help</h5>
    <ul>
    <% if @here.cloud.admin?(@me.id) || @here.cloud.boss?(@me.id)  %>
    <li><span class='material-icons'>auto_fix_high</span><span>zap</span></li>
    <li><span class='material-icons'>mail</span><span>invite</span></li>
    <% end %>
    <li><span class='material-icons'>settings</span><span>settings</span></li>
    <li><span class='material-icons'>badge</span><span>badge</span></li>
    </ul>
    <h5>stats</h5>
    <ul>
    <li><span class='material-icons'>military_tech</span><span><%= @me.attr['lvl'] %></span></li>
    <li><span class='material-icons'>loyalty</span><span><%= @me.stat['lvl'] %></span></li>
    </ul>
</div>
</form>
    <script>
    var hi = $('#output').html();
var zap = '/comms/magic?tok=<%= params[:tok] %>'
    <% if @me.id == ENV['PHONE_ADMIN'] %>
    zap += "&boss=1";
<% end %>
var rsvp = '/comms/invite?tok=<%= params[:tok] %>'
var video = document.createElement("video");
var canvasElement = document.getElementById("canvas");
var canvas = canvasElement.getContext("2d");
// Use facingMode: environment to attemt to get the front camera on phones
navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
    video.srcObject = stream;
    video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
    video.play();
    requestAnimationFrame(tick);
});

function tick() {
    if (video.readyState === video.HAVE_ENOUGH_DATA) {
	canvasElement.height = video.videoHeight;
	canvasElement.width = video.videoWidth;
	canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
	var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
	var code = jsQR(imageData.data, imageData.width, imageData.height, {});
	var dom = /https:\/\/<%= ENV['DOMAIN'] %>/g;
	if (code) {
	    if (dom.test(code.data)) {
		var o = code.data.split('?');
		var oo = o[1].split('=');
		var ty = 'rando';
		if (oo[0] == 'i') {
		    ty = 'influencer'
		} else if (oo[0] == 'z') {
		    ty = "sponsor"
		} else if (oo[0] == 'u') {
		    ty = 'rider'
		}
		console.log(oo)
		$('#zap').attr('href', zap + "&usr=" + oo[1]);
		if ( ty == 'rider' ) {
		    $('#rsvp').attr('href', rsvp + "&usr=" + 00[1]);
		    $('#rsvp').css('background-color', 'orange');
		} else {
		    $('#rsvp').css('background-color', 'grey');
		}
		$('#zap').css('background-color', 'orange');
		$("#output").html("<h1>" + oo[1] +"</h1><h3>" + ty + "</h3>");
	    } else {
		$('#zap').attr('href', zap);
		$('#rsvp').attr('href', rsvp);
		$('#zap').css('background-color', 'grey');
		$('#rsvp').css('background-color', 'grey');
		$("#output").html(code.data);
	    }
	} else {
	    $('#zap').attr('href', zap);
	    $('#rsvp').attr('href', rsvp);
	    $('#zap').css('background-color', 'grey');
	    $('#rsvp').css('background-color', 'grey');
	    $("#output").html(hi);
	}
    }
    requestAnimationFrame(tick);
}

</script>
