<style>
html { background-color: black; color: black; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#ui { width: 100%; margin: 0; z-index: 10; }
#output { border: thin solid black; border-radius: 50px; padding: 2%; background-color: white; }
#ui > * { vertical-align: middle; font-size: xx-large; width: 10%; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 1% 0 1%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
.l { left: 0; }
.r { right: 0; }
.fr {float: right; }
#ready { }
#canvas { height: 55%; width: 96%; border: thin solid black; }
#foot { width: 100%; margin: 0; position: fixed; bottom: 0; }
#foot > * { position: fixed; bottom: 0; }
#plug { background-color: green; text-decoration: none; border-radius: 76% 76% 0 0; padding: 0 3% 0 3%; margin: 0 3% 0 3%; }
#nomad { color: brown; }
#copy { color: white; font-size: xx-small; }
#rank { left: 0; }
#lvl { right: 0; }
#nameplate { border: thin solid black; border-radius: 20px; padding: 1%; }
h5 { text-align: left; }
ul { width: max-content; padding: 0 5%; display: inline-block; }
li { list-style: none; }
    .l { text-align: left; }
    .r { text-align: right; }
hlp { display: inline; }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>
<% @here.ticket(params[:tok]).activate(name: 'token', ttl: 60 * 60 * 24 * 7, value: @me.id ); %>

<form style='height: 100vh; width: 100vw;'>
    <input type='hidden' id='tok' name='tok' value='<%= params[:tok] %>'>
    <canvas id="canvas"></canvas>
<h1 id='ui'>
<% if @here.cloud.admin?(@me.id) || @here.cloud.boss?(@me.id)  %>
    <a id='zap' href='/comms/magic?tok=<%= params[:tok] %>' class='material-icons input'>auto_fix_high</a>
    <a id='rsvp' href='/comms/invite?tok=<%= params[:tok] %>' class='material-icons input'>mail</a>
<% end %>
    <a href='/comms/config?tok=<%= params[:tok] %>' class='material-icons input'>settings</a>
    <a href='/q/rcode?uid=<%= @me.attr['uid'] %>' class='material-icons input'>badge</a>
</h1>
<div id='output'>
  <fieldset id='output'>
    <legend id='nameplate'>
    <% if @me.attr.has_key?('name') && @me.attr['name'] != '' %>
    <span id='name'><%= @me.attr['name'] %></span>
    <% else %>
    <span id='name'>Ux<%= @me.attr['uid'] %></span>
    <% end %>
    <span id='lvls'>
      <span id='lvl'>
	<span class='material-icons'>military_tech</span>
	<span><%= @me.attr['lvl'] %></span>
      </span>
    </span>
    </legend>
    <% @users = Hash.new {|h,k| h[k] = 0 }; @badges = Hash.new {|h,k| h[k] = 0 }; @me.stat.members(with_scores:true).to_h.each_pair do |k,v| %>
    <% if v.to_i > 0 %>
    <% kk = k.split(':'); @users.incr(kk[0]); @badges.incr(kk[1]) %>
    <% end %>
    <% end %>
    <% @badges.each_pair do |k,v| %>
    <p class='l'><span class='k'><%= k %></span><span class='v'><%= v %></span></p>
    <% end %>
  </fieldset>
</div>
<!--
      <fieldset class='hlp'>
        <legend>help</legend>
        <% if @here.cloud.admin?(@me.id) || @here.cloud.boss?(@me.id)  %>
        <p class='r'><span>zap</span><span class='material-icons'>auto_fix_high</span></p>
        <p class='r'><span>invite</span><span class='material-icons'>mail</span></p>
        <% end %>
        <p class='r'><span>settings</span><span class='material-icons'>settings</span></p>
        <p class='r'><span>badge</span><span class='material-icons'>badge</span></p>
          </fieldset>

-->
  
</form>
    <script>
    var hi = $('#output').html();
var zap = '/comms/magic?tok=<%= params[:tok] %>'
    <% if @me.id == ENV['PHONE_ADMIN'] %>
    zap += "&boss=1";
<% end %>
var rsvp = '/comms/invite?tok=<%= params[:tok] %>'
var video = document.createElement("video");
var canvasElement = document.getElementById("canvas");
var canvas = canvasElement.getContext("2d");
// Use facingMode: environment to attemt to get the front camera on phones
navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment" } }).then(function(stream) {
    video.srcObject = stream;
    video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
    video.play();
    requestAnimationFrame(tick);
});

function tick() {
    if (video.readyState === video.HAVE_ENOUGH_DATA) {
	canvasElement.height = video.videoHeight;
	canvasElement.width = video.videoWidth;
	canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
	var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
	var code = jsQR(imageData.data, imageData.width, imageData.height, {});
	var dom = /https:\/\/<%= ENV['DOMAIN'] %>/g;
	if (code) {
	    if (dom.test(code.data)) {
		var o = code.data.split('?');
		var oo = o[1].split('=');
		var ty = 'rando';
		if (oo[0] == 'i') {
		    ty = "influencer"
		} else if (oo[0] == 'z') {
		    ty = "sponsor"
		} else if (oo[0] == 'u') {
		    ty = "rider"
		}
		console.log(oo)
		$('#zap').attr('href', zap + "&usr=" + oo[1]);
		if ( ty == 'rider' ) {
		    $('#rsvp').attr('href', rsvp + "&usr=" + oo[1]);
		    $('#rsvp').css('background-color', 'orange');
		} else {
		    $('#rsvp').css('background-color', 'grey');
		}
		$('#zap').css('background-color', 'orange');
		$("#output").html("<h1>" + oo[1] +"</h1><h3>" + ty + "</h3>");
	    } else {
		$('#zap').attr('href', zap);
		$('#rsvp').attr('href', rsvp);
		$('#zap').css('background-color', 'grey');
		$('#rsvp').css('background-color', 'grey');
		$("#output").html(code.data);
	    }
	} else {
	    $('#zap').attr('href', zap);
	    $('#rsvp').attr('href', rsvp);
	    $('#zap').css('background-color', 'grey');
	    $('#rsvp').css('background-color', 'grey');
	    $("#output").html(hi);
	}
    }
    requestAnimationFrame(tick);
}

</script>
