<style>
html { background-color: white; color: black; }
button { border-radius: 10px; border: thick solid black; }
.top { position: fixed; top: 0; width: 100%; left: 0; text-align: left; }
.top > a { margin: 1%; border-radius: 10px; border: thick solid silver; background-color: white; text-decoration: none; }
#ui { position: fixed; top: 0; width: 100%; right: 0; height: 10%; margin: 0; z-index: 10; }
#output { text-align: left; line-break: anywhere; overflow-y: scroll; height: 90%; }
#ui > * { vertical-align: middle; font-size: xx-large; width: 10%; background: grey; text-decoration: none; border: thick solid darkgrey; color: white; box-shadow: 0 0 3px white; margin: 0 4% 0 4%; padding: 1%; }
.pm { color: darkgrey; }
.dm { }
.chan { padding: 1%; border-radius: 10px; box-shadow: 0 0 5px white; }
.box { padding: 1%; border-radius: 10px; }
#to { width: 10%; }
.payload { margin: 0 2% 0 2%; }
.topic { margin: 1%; padding: 1%; }
.payload { text-break: anywhere; }
.l { left: 0; }
.r { right: 0; }
.fr {float: right; }
#ready { }
</style>
<% Redis.new.publish "HERE", "#{params}" %>
<% @me = @here.cloud.user(@here.ticket(params[:tok]).active?('token')) %>

<form style='height: 100vh; width: 100vw;'>
<div id="reader" width="600px"></div>
<input type='hidden' id='tok' name='tok' value='<%= params[:tok] %>'>
<h1 id='ui'>
<a id='scan' class='material-icons input' onclick='scan();'>camera</a>
<a href='/comms/config?tok=<%= params[:tok] %>' class='material-icons input'>settings</a>
<a href='/q/rcode?uid=<%= @me.attr['uid'] %>&tgt=u&lvl=<%= @me.attr['rank'] %>&shield=<%= @me.attr['shield'] %>&border=<%= @me.attr['border'] %>&branded=true' class='material-icons input'>badge</a>
</h1>
<div id='output'></div>
</form>
