<% @ranks = { 0 => 'ridge', 1 => 'double', 2 => 'dashed' } %>
<% @u = @here.cloud.user(Redis::HashKey.new('uid')[params[:uid]]) %>
<% @d = 0; @r = 0; @l = @u.attr['lvl'].to_i; %>
<% @d = "#{@l}".length - 1; @r = @l / (10 ** @d);  %>
<% @debug = { d: @d, l: @l, r: @r } %>
<style>
  body { overflow-y: hidden; background-color: <%= @u.attr['field'] || 'black' %>; color: white;}
  #top { margin-top: 0; }
  #top > * { vertical-align: middle;  }
  #uid { }
  .lvl { box-shadow: 0 2px 1px white; }
  #wrap { padding: 5%; }
  #qrcode { padding: 10% 0 10% 0; background-color: <%= @u.attr['shield'] %>; border: thick solid <%= @u.attr['border'] %>; border-radius: 0 0 1000px 1000px }
  #qrcode > canvas { border: thick solid white; }
  #bottom { position: fixed; bottom: 0; margin-bottom: 0; width: 100%; }
  .x {
  background-color: <%= @u.attr['border'] || 'black' %>;
  border: thick solid <%= @u.attr['border'] || 'white' %>;
  color: black;
  text-shadow: 0 0 3px white;
  }
  #rank {
  border-left: thick <%= @ranks[@d] %> <%= @u.attr['border'] || 'white' %>;
  border-bottom: thick <%= @ranks[@d] %> <%= @u.attr['border'] || 'white' %>;
  border-right: thick <%= @ranks[@d] %> <%= @u.attr['border'] || 'white' %>;
  }
  .xx { color: orange; }
</style>

<h1 id='top'>
    <% @ic = { "u" => "stars", "w" => "check_box_outline_blank", "i" => "change_history", "z" => "circle" } %>
    <span id='rank'>
    <% @r.times do |t| %>
    <% if @r  > 5 %>
  <span class='material-icons lvl x xx'><%= @ic[@u.attr['type']] %></span>
  <% else %>
  <span class='material-icons lvl x'><%= @ic[@u.attr['type']] %></span>
  <% end %>
  <% end %>
  </span>
</h1>

<fieldset>
<legend><%= params[:uid] %></legend>
<div id='wrap'><div id="qrcode"></div></div>
</fieldset>
<h1 id='bottom'><span class='x'><%= ENV['DOMAIN'] %></span</h1>

<script>
console.log("debug <%= @debug %>");
$('#qrcode').qrcode("https://<%= ENV['DOMAIN'] %>/q/m?<%= @u.attr['type'] %>=<%= params[:uid] %>");
</script>
