<style>
  body { overflow-y: hidden; background-color: <%= params[:field] || 'black' %>; color: <%= params[:border] || 'white' %>;}
  #top { text-align: left; margin-top: 0; }
  #top > * { vertical-align: middle;  }
  #uid { }
  #lvl { float: right; }
  #wrap { padding: 2%; margin-top: 35%; }
  #qrcode { padding: 5%; background-color: <%= params[:shield] %>; border: thick solid <%= params[:border] %>; }
  #qrcode > canvas { border: thick solid white; }
  #bottom { position: fixed; bottom: 0; margin-bottom: 0; width: 100%; }
  .x {
  background-color: <%= params[:shield] || 'black' %>;
  border: thick solid <%= params[:border] || 'white' %>;
  color: <%= params[:border] || 'white' %>;
  }
</style>

<h1 id='top'>
  <span id='lvl' class='x'><%= params[:tgt] %><%= params[:lvl] %></span>
  <span id='uid' class='x'><%= params[:uid] %></span>
</h1>

<div id='wrap'><div id="qrcode"></div></div>


<h1 id='bottom'><span class='x'><%= ENV['DOMAIN'] %></span</h1>

<script>
$('#qrcode').qrcode("https://<%= ENV['DOMAIN'] %>/q/m?<%= params[:tgt] %>=<%= params[:uid] %>");
</script>
